<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
        <title>OCR</title>
    </head>

    <body>
        <h1>Hello!</h1>
        {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}!</h1>
        {% else %}
        <h1>Hello world!</h1>
        {% endif %}
        <strong>{{ boldmessage }}</strong><br />
        <a href="/OCR/register/">Register Here</a>
        <a href="/OCR/login/">Login</a>
        <form action="/OCR/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p }}
           <input type="submit" value="Submit" />
         </form>
    </body>

</html>