<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
 
    <head>
        <title>OCR</title>
    </head>

    <body>
        <h1>Hello!</h1>
        {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}!</h1>
        <a href="/OCR/logout/">Logout</a>
        {% else %}
        <h1>Hello world!</h1>
        <a href="/OCR/login/">Login</a>
        {% endif %}
        {{acc_type}}
        
        {% if Admin %}
        <strong>{{ boldmessage }}</strong><br />
        <a href="/OCR/register/">Register Here</a>
        <a href="/OCR/admin/">Go To Console</a>
        {% endif %}
        
        {% if User %}
        <a href="/OCR/user/">Check Data</a>
        {% endif %}
        
      
    </body>

</html>