./Code/ScanDB/static/segments/*
./Code/ScanDB/static/segmented/*
./Code/ScanDB/static/binarised/*
./Code/ScanDB/static/approved/*
./Code/ScanDB/static/needapproval/*
./Code/ScanDB/media/uploads/*
./Code/ScanDB/static/OCRfiles*